<div class="row">
  <div class="col-3">
    <select id="sourcesSelect" class="form-control form-control-sm" (change)="sourceChanged(this)">
      <option *ngFor="let source of sources" value="{{source.id}}">{{source.name}}</option>
    </select>
  </div>
  <div class="col-4">
    <div class="form-inline">
      <input id="searchText" type="text" class="form-control form-control-sm" placeholder="Type text to search">
      <button type="button" class="btn btn-primary btn-sm" (click)="searchClicked()">Search</button>
    </div>
  </div>
  <div class="col-3 my-auto">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Only created by me</label>
  </div>
  <div class="col-2 text-right">
    <button type="button" class="btn btn-primary btn-sm" (click)="addClicked()">Add News</button>
  </div>
</div>
