<div class="row news-page-title">
  <div class="col">
    <h2 class="text-center">Source Name</h2>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <fc-news-selector (onAdd)="addArticle()" (onSearchClicked)="performSearch($event)"
      (onSourceChanged)="performSourceChange($event)"></fc-news-selector>
  </div>
</div>
<div class="row mt-4">
  <div class="col-10 offset-1">
    <fc-news-list [articles]="articles | async" (onEdit)="editArticle($event)" (onDelete)="deleteArticle($event)">
    </fc-news-list>
  </div>
</div>
