/* You can add global styles to this file, and also import other style files */

.header {
  margin: 5px 0 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.footer {
  font-size: 12px;
  border-top: 1px solid lightgray;
}

.news-list-item {
  margin: 10px;
}

.news-list-item, .news-details  {
  .card-actions {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border: 1px solid gray;

    svg {
      margin: 5px;
      color: gray;

      :hover {
        color: black;
      }
    }
  }
}

.news-details {
  .card-actions
  {
    right: -60px;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

  .fb-icon {
    color: #3B5999;

    :hover {
      color: #3B59FF;
      cursor: pointer;
    }
  }
}

a:not([href]):not([tabindex]) {
  color: #007bff !important;
  cursor: pointer;
}
