/* You can add global styles to this file, and also import other style files */
.header {
  margin: 5px 0 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.footer {
  font-size: 12px;
  border-top: 1px solid lightgray;
}

.card {
  height: 400px;
  font-size: 14px;
  position: relative;

  .card-subtitle {
    font-size: 12px;
    color: gray
  }
}



.card, .news-details {
  .card-actions {
    position: absolute;
    top: 0;
    right: 0;
    background: whitesmoke;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid gray;

    svg {
      margin: 5px;
      color: gray;

      :hover {
        color: black;
      }
    }
  }
}

.news-details {
  .card-actions
  {
    right: -60px;
  }
}
